body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-nav{

margin-top: 0;
margin-bottom: 0;

}

#nav-list {

	background-color: #f6b319;
}

#nav-list hr{
	margin: 0;
	/*border-top: 1px solid black;*/
}

#nav-list li a{ /* dropdown menu*/
 text-align:  center;
	color: black;
}

#main-content{
color: black;
}


#chickencontent{
background-color: #59b3bb;

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 767px) {
  #main-content.container {
    width: 450px;
  }
}

